IDB_ABOUTJPG		2110	"bmp\about.jpg"
#define IDD_DLGAUTOSETTINGS 1200
#define IDC_CHKSORT 1201
#define IDC_CHKCASE 1202
#define IDD_DLGAUTO 1215
IDD_DLGAUTOSETTINGS DIALOGEX 6,6,196,107
CAPTION "Autocompletion settings"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C00002
BEGIN
  CONTROL "Sort words",IDC_CHKSORT,"Button",0x50010003,8,1,48,9
  CONTROL "OK",1,"Button",0x50010000,158,90,32,13
  CONTROL "Cancel",2,"Button",0x50010000,124,90,30,13
  CONTROL "Version: 1.0.4",0,"Static",0x50000000,106,11,90,8
  CONTROL "Author: Bernd Kastenholz",0,"Static",0x50000000,106,0,90,8
  CONTROL "Case sensitive",IDC_CHKCASE,"Button",0x50010003,8,12,58,9
END
IDD_DLGAUTO DIALOGEX 6,6,200,123
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10000000
BEGIN
END
